# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

#### Some of the popular languages that Data Scientists use are:
1. python
2. R
3. julia

#### Some of the commonly used libraries used by Data Scientists include:
1. numpy
2. pandas
3. matplotlib
4. ggplot

|Data Science Tools|
|---------------|
|jupyter notebook|
|Rstudio|
|tensorflow|

### Below are a few examples of evaluating arithmetic expressions in Python
* a+b
* a-b
* a*b
* a/b

In [2]:
(3*4)+5 #This a simple arithmetic expression to mutiply then add integers

17

In [4]:
200/60 # This will convert 200 minutes to hours by diving by 60

3.3333333333333335

### Objectives:
- List popular languages for Data Science
- list commonly used data science  libraries
- create markdown cells
- create tables in markdown cells

## Author
ayyanar.s